/*===============================navbar========================================*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px 20px;
    height: 50px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.logo {
    background-color: green;
}
.logo img {
    height: 30px;
    width: auto;
    margin-right: 80px;
}
/*======================================search bar======================================*/
.search_bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: nowrap;
}
.search{
    /*기본 정렬*/
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 20px;
}
.search input {
    height: 35px;
    width: 100%;
    padding: 3px 15px;
    font-size: 18px;
    border: none;
    outline: none;
}
.search button {
    height: 36px;
    width: 60px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: light-grey;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.search button img {
    height: 25px;
    width: auto;
    padding-left: 0px;
}
.search.focus {
    border: 2px solid steelblue;
}
.search_by_sound {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    border: none;
}
.search_by_sound img {
    height: 60%;
    width: 60%
    object-fit: contain; /* 이미지 비율 유지*/
}
.search_by_sound:hover {
    background-color: #dddddd;
    cursor: pointer;
}
/*==================================function button====================================*/
.func_btn {
    width: 50%%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 10px;
    margin-right: 20px;
}
.func_btn button {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;
}
.func_like {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: lightgray;
    overflow: hidden;
}

.like {
    align-items: center;
    justify-contents: center;
    border-radius: 0;
}
.dislike {
    align-items: center;
    justify-contents: center;
    border-radius: 0;
}
.like + .dislike {
    border-left: 1px solid #ccc;
}

.upload_video {
    display: flex;
    height: 32px;
    width: 100px;
    gap: 2px;
}
.upload_video img {
    height: 18px;
    width: 18px;
    padding-right: 8px;
    object-fit: contain;
}
.upload_video span {
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 500;
}
.alert_btn {
    height: 36px;
    width: 36px;
}
.alert_btn img {
    padding-top: 2px;
    height: 20px;
    width: 24px;
    object-fit: contain;
}
.user_info {
    height: 36px;
    width: 36px;
}
.user_info img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}
.upload_video:hover, .alert_btn:hover, .user_info:hover {
    background-color: #dddddd;
    cursor: pointer;
}

@media (max-width: 500px) {
    .search {
        width: 150px;
    }
    .search input {
        min-width: 30px;
        padding: 4px 6px;
    }
}

@media (max-width: 350px) {
    .search input {
        width: 0;
        min-width: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        border: none;
    }
    .search {
        width: auto; /* 아이콘 버튼 크기만큼 */
        border: none;
    }
}


/*==============================sidebar_mini==================================*/
.sidebar_mini {
    align-items: center;
    position: fixed;
    padding-top: 10px;
    top: 50px;
    left: 0px;
    height: 100%;
    width: 80px;
    display: flex;              /*내부 정렬*/
    flex-direction: column;     /*세로 방향*/
    gap: 15px;
    z-index: 1001;
}
.sidebar_mini button {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 5px;
    border: none;
}
.sidebar_mini img {
    height: 40px;
    width: 40px;
}
.sidebar_mini p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
.sidebar_mini button:hover {
    background-color: #dddddd;
    cursor: pointer;
}


/*==============================sidebar==================================*/
.side_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    display: none;
}

.sidebar {
    position: fixed;
    padding-top: 10px;
    top: 50px;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: white;
    display: flex;              /*내부 정렬*/
    flex-direction: column;     /*세로 방향*/
    gap: 10px;
    z-index: 1003;
    transition: left 0.3s ease;     /*동작 애니메이션*/
}
.sidebar.open {
    left: 0;
}
.side_backdrop.open {
    display: block;
}
.sidebar_icon{
    flex: 0 0 auto;
    width: 30px;
    margin-right: 20px;
}
.sidebar button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin: 0 1rem;
}
.sidebar button:hover {
    background-color: #dddddd;
    cursor: pointer;
}
.category span {
    font-size: 20px;
    font-weight: 500;
}
.sidebar p {
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 500;
}
.sidebar button img {
    height: 30px;
    width: auto;
    margin-right: 1rem;
}
img.broadcasting{
    padding-left: 45px;
    height: px;
    width: 5px;

}
.sidebar hr {
    margin: 10px;
    border: solid 1px grey;
}

/*==========================user option============================*/
.user_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9;
    display: none;
}

.user_backdrop.open {
    display: block;
}

.user_option {
    position: absolute;
    top: 44px;
    right: 10px;
    width: 280px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    z-index: 1000;
    border-radius: 15px;
}
.information {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
}
.information img {
    padding: 5px;
    height: 40px;
    width: 40px;
}
.info_text {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    flex-direction: column;
}
.information a {
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}

.user_option ul {
    margin: 5px 0;
    padding: 0;
}
.user_option li {
    list-style: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
}

.user_option.open{
    display: flex;
}
.user_option hr {
    margin: 0;
    padding: 0;
    border: solid 1px grey;
}

.user_option li:hover {
    background-color: #dddddd;
    cursor: pointer;
}
/*===========================비디오 썸네일===================================*/
.video_list {
    position: relative;
    top: 50px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: white;
}
.video_thumbnail {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.video_thumbnail:hover {
    transform: scale(1.1);
}

.video_thumbnail a{
    color: black;
    text-decoration: none;
}

.thumbnail_image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.video_info {
    display: flex;
}
.channel_icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 6px;
}
.video_text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.video_title {
    margin: 0;
}
.channel_name, .other_info {
    margin: 0;
    font-size: 14px;
}

@media (min-width: 1300px) {
    .video_list {
        grid-template-columns: repeat(4, 1fr); /* 최대 4개까지만 */
    }
}

/*============================video page====================================*/
.container {
    position: relative;
    margin: 0 40px;
    top: 50px;
    display: grid;
    /*grid-template-columns: 1fr 500px;*/
    grid-template-columns: 1fr minmax(250px, 500px);
    gap: 2px;
}
.main_contents {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
.main_video {
    display: flex;
    flex-direction: column;
    /*height: calc(100vw * 9 / 16);*/
    position: relative;
    width: 100%;
    max-width: 1600px;
    min-width: 0px;
    padding-top: 56.25%;
    height: 0;
}
.main_video_info_wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}
.main_video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/*==========================video info==========================*/
.main_video_title {
    margin: 10px;
}
.main_video_info {
    display: flex;
    align-items: center;
    gap: 12px;
}
.main_video_info img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #dddd;
    object-fit: cover;
}
.main_video_channel {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.channel_name {
    white-space: nowrap;
}
/*==========================detail info==========================*/
.main_video_channel span {
    font-size: 12px;
}
.join, .subscribe {
    height: 32px;
    width: 60px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}
.main_video_info_wrap {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.main_video_info_wrap .func_btn {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.main_video_info_wrap .func_btn button {
    height: 32px;
    width: auto;
    padding: 0 10px;
}
.video_detail {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #dddddd;
    border-radius: 10px;
}
.video_detail span {
    font-size: 14px;
    font-weight: bold;
}
/*===============================comment=================================*/
.comments {
    width: 100%;
    padding-top: 180px;
}
.comments_wrap {
    display: flex;
    align-items: center;
    gap: 30px;
}
.text_align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: auto;
    padding: 0 10px;
    border: none;
    background-color: rgba(0,0,0,0);
    gap: 8px;
}
.text_align img {
    height: 30px;
    width: auto;
}
.text_align span {
    font-size: 14px;
    font-weight: 500;
}
.comment_area{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    gap: 20px;
    box-sizing: border-box;
}
.comment_area img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #dddddd;
}
.comment_area textarea {
    width: 100%;
    flex: 1 1 0;
    min-width: 0;
    max-height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    resize: none;
    min-width: 0;
    box-sizing: border-box;
}
.comment_area button{
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
}
.comment_item {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  align-items: flex-start;
}

.comment_profile img {
  width: 32px;
  height: 32px;
}

.comment_text p {
  margin: 0;
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 100%;
  word-wrap: break-word;
}

/*===========================recommended video=================================*/
.recommend {
    display: flex;
    width: 90%;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.recommended_video {
    display: flex;
    gap: 20px;
}
.recommend img {
    width: 50%;
}
.rec_video_list {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 4px;
}
.rec_video_title {
    margin: 0;
}
.rec_video_list span {
    font-size: 14px;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        margin: 0 20px;
    }

    .main_contents {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .main_video_info_wrap {
        flex-direction: column;
        align-items: flex-start;
    }
}

/*===========================responsive function=============================
@media (max-width: 1000px) {
    .recommend {
        display: none;
    }
    .container {
        grid-template-columns: 1fr; /* recommend 없어진 후 한 열로 변경
    }
    .main_video {
        width: 100%;
        height: auto;
    }
    .comment_area textarea{
        width: 720px;
    }
}*/

/*=======================영역 확인용===============================*/
.sidebar_mini, .recommend {
    background-color: purple;
}

