/*===============================navbar========================================*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px 20px;
    height: 50px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.logo {
    background-color: green;
}
.logo img {
    height: 30px;
    width: auto;
    margin-right: 80px;
}
.search_bar {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: nowrap;
}
.search{
    /*기본 정렬*/
    display: flex;
    width: 70%;
    align-items: center;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 20px;
}
.search input {
    height: 35px;
    width: 100%;
    padding: 3px 15px;
    font-size: 18px;
    border: none;
    outline: none;
}
.search button {
    height: 36px;
    width: 60px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: light-grey;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.search button img {
    height: 25px;
    width: auto;
    padding-left: 0px;
}
.search.focus {
    border: 2px solid steelblue;
}
.search_by_sound {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    border: none;
}
.search_by_sound img {
    height: 60%;
    width: 60%
    object-fit: contain; /* 이미지 비율 유지*/
}
.search_by_sound:hover {
    background-color: #dddddd;
    cursor: pointer;
}
.func_btn {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 10px;
    margin-right: 20px;
}
.func_btn button {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;
}
.upload_video {
    display: flex;
    height: 32px;
    width: 100px;
    gap: 2px;
}
.upload_video img {
    height: 18px;
    width: 18px;
    padding-right: 8px;
    object-fit: contain;
}
.upload_video span {
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 500;
}
.alert_btn {
    height: 36px;
    width: 36px;
}
.alert_btn img {
    padding-top: 2px;
    height: 20px;
    width: 24px;
    object-fit: contain;
}
.user_info {
    height: 36px;
    width: 36px;
}
.user_info img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}
.upload_video:hover, .alert_btn:hover, .user_info:hover {
    background-color: #dddddd;
    cursor: pointer;
}

@media (max-width: 500px) {
    .search {
        width: 150px;
    }
    .search input {
        min-width: 30px;
        padding: 4px 6px;
    }
}

@media (max-width: 350px) {
    .search input {
        width: 0;
        min-width: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        border: none;
    }
    .search {
        width: auto; /* 아이콘 버튼 크기만큼 */
        border: none;
    }
}


/*==============================sidebar_mini==================================*/
.sidebar_mini {
    align-items: center;
    position: fixed;
    padding-top: 10px;
    top: 50px;
    left: 0px;
    height: 100%;
    width: 80px;
    background-color: purple;
    display: flex;              /*내부 정렬*/
    flex-direction: column;     /*세로 방향*/
    gap: 15px;
}
.sidebar_mini button {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    border: none;
}
.sidebar_mini img {
    height: 40px;
    width: 40px;
}
.sidebar_mini p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
.sidebar_mini button:hover {
    background-color: #dddddd;
    cursor: pointer;
}


/*==============================sidebar==================================*/
.sidebar {
    position: fixed;
    padding-top: 10px;
    top: 50px;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: purple;
    display: flex;              /*내부 정렬*/
    flex-direction: column;     /*세로 방향*/
    gap: 10px;
    transition: left 0.3s ease;     /*동작 애니메이션*/
}
.sidebar.open {
    left: 0;
}
.sidebar_icon{
    flex: 0 0 auto;
    width: 30px;
    margin-right: 20px;
}
.sidebar button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    margin: 0 1rem;
}
.category span {
    font-size: 20px;
    font-weight: 500;
}
.sidebar button img {
    height: 30px;
    width: auto;
    margin-right: 1rem;
}
hr {
    margin: 10px;
    border: solid 1px grey;
}